<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUploader" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IService1" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IService11" messageEncoding="Mtom" maxBufferSize="4096" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asifali-pc/mtomsamples/Uploader.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUploader"
        contract="FileUploaderService.IUploader" name="BasicHttpBinding_IUploader" />
      <endpoint address="http://localhost/mtomsamples2/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="FileUploaderService2.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost/mtomsamples3/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="FileUploaderService3.IService1" name="BasicHttpBinding_IService11" />
    </client>
    <services>
      <service name="FileUploaderService.IUploader">
        <endpoint address=""
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUploader"
        contract="FileUploaderService.IUploader" />
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
